.slush-gifts-images {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 48px;
    grid-template-columns: 540px 540px;
    grid-template-rows: 380px 380px 380px;
    justify-content: center;
}

.slush-gifts-image1 {
    background-image: url("../../images/SZ19/merchandise_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slush-gifts-image2 {
    background-image: url("../../images/SZ19/merchandise_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slush-gifts-image3 {
    background-image: url("../../images/SZ19/merchandise_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slush-gifts-image4 {
    background-image: url("../../images/SZ19/merchandise_04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slush-gifts-image5 {
    background-image: url("../../images/SZ19/merchandise_05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slush-gifts-image6 {
    background-image: url("../../images/SZ19/merchandise_06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}