.footer-container {
    display: flex;
    width: 100%;
    padding: 2em 0 4em;
}

.footer-container>p {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    /* .footer-container {
        justify-content: center;
    } */
}