.card-container {
    width: 100%;
    padding-bottom: 80px;
}

@media screen and (max-width: 800px) {
     .card-container {
        /* max-width: 328px;
        padding-bottom: 16px;
        text-align: left;
        padding-bottom: 32px; */
    } 
}