.cards-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

.card-container {
    text-align: center;
    align-self: center;
    max-width: 1110px;
    width: 100vw;
    justify-content: center;
    padding-bottom: 160px;
}

a { 
    color: black; 
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

@media screen and (max-width: 400px) {
    .card-container {
        max-width: 328px;
        padding-bottom: 16px;
        text-align: left;
    }
}