.IntroBanner {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-columns: 720px 720px;
    grid-template-rows: 480px;
    justify-content: center;
    /* justify-content: flex-end; */
    padding-left: 320px;
    padding-top: 81px;
}

.IntroBanner-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 720px;
}

.IntroBanner-img {
    height: 480px;
    min-height: 480px;
}

.companyName {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    /* identical to box height, or 77px */

    font-feature-settings: 'liga' off;
}

.brief {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    font-feature-settings: 'liga' off;
}