a { 
    text-decoration:none;
}

.card {
    width: 100%;
    margin-bottom: 4em;
}

.card div {
    transition: 400ms; /* vendorless fallback */
    -o-transition: 400ms; /* opera */
    -ms-transition: 400ms; /* IE 10 */
    -moz-transition: 400ms; /* Firefox */
    -webkit-transition: 400ms; /*safari and chrome */
}

.card svg path{
    transition: 400ms;
    fill-opacity: 0.2;
    -o-transition: 400ms; /* opera */
    -ms-transition: 400ms; /* IE 10 */
    -moz-transition: 400ms; /* Firefox */
    -webkit-transition: 400ms; /*safari and chrome */
}

.card:hover svg path{
    transition: 0.2s ease-in;
    fill-opacity: 1;
}

.cover {
    /* height: 50vh; */
    max-height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}

.btn_text {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(0,0,0,0.2);
    transition: 0.2s;
}

.btn_text:hover {
    transition: 0.2s;
    color: black;
}

.mobile-view-card { display:none; }

@media screen and (max-width: 800px) {
    .card {
        width: calc(100vw - 4em);
        margin: auto;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start; */
    }

    .cover {
        width: 100%;
    }

    .card-info {
        display: flex;
        text-align: left;
        flex-direction: column;
        margin: 1em 0 4em;
    }

    .card-info > *{
        width: 100%;
        margin: 0.1em 0;
    }
}