.company-image {
    height: 400px;
    /* height: 50vh; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    /* background-color: blue; */
}

.lower-card-container {
    display: flex;
    justify-content: space-between;
}

.lower-card-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lower-card-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.intro-container {
    display: flex;
    flex-direction: row;
}

.slogan-text, .company-name-text {
    align-self: flex-start;
}

.company-name-text {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    /* identical to box height, or 135% */

    font-feature-settings: 'liga' off;
}

.project-text {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: center;
    font-feature-settings: 'liga' off;
}

.intro-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    font-feature-settings: 'liga' off;
}

.slogan-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
}

.mobile-view-card { display:none; }

@media screen and (max-width: 600px) {
    .company-image {
        height: 164px;
        width: 328px;
        background-size: cover;
        background-repeat: no-repeat;
        align-self: center;
        /* background-color: blue; */
    }

    .lower-card-container {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .company-name-text {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 120%;
    }

    .slogan-text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        padding-top: 16px;
    }

    .intro-container{
        padding-top: 16px;
    }

    .intro-text {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 100%;
    }

    .project-text {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 120%;
        /* or 38px */

        text-align: center;
        text-transform: capitalize;
    }

    .pc-view-card { display:none; }
}