a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    color: black;
}

.Home h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: center;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.home-content {
    width: 100vw;
    max-width: min(1110px, 80vw);
    margin: auto;
}

.module {
    display: grid;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.project-subtitle-text{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    font-feature-settings: 'liga' off;
    padding-bottom: 48px;
}

.project {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.more-projects {
    width: 100%;
    text-align: center;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    color: rgba(0, 0, 0, 0.33);
    padding: 4em 0;
}

@media screen and (max-width: 800px) {
    .pc-view-home {
        display: none;
    }

    .Home h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;
    }


    .home-content {
        width: 100vw;
        max-width: 90vw;
        margin: auto;
    }
}