:root {
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: -8px;
}

a, h1, h2, h3, h4, h5 {
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.Home {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em !important;
    overflow: hidden;
    width: 100vw;
}
.home-content {
    margin: 4em;
    outline: 2px solid red;
}

.Banner {
    width: 100%;
    overflow: hidden;
    padding-bottom: 80px;
}

.module {
    display: grid;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.project-subtitle-text{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    font-feature-settings: 'liga' off;
    padding-bottom: 48px;
}

.project {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.more-projects {
    width: 100%;
    text-align: center;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    color: rgba(0, 0, 0, 0.33);
    padding: 2em 0 6em;
}

@media screen and (max-width: 800px) {
    #background-video {
        width: 100vw;
        overflow-x: hidden;
    }
    .Banner {
        padding-bottom: 48px;
    }

    .pc-view-home {
        display: none;
    }

    h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 43px;
        letter-spacing: 0px;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;
    }
}