:root {
    font-size: 16px;
}

.Home {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em !important;
}

.Banner {
    width: 100vw;
    overflow: hidden;
    padding-bottom: 80px;
}

.module {
    display: grid;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.project-subtitle-text{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    font-feature-settings: 'liga' off;
    padding-bottom: 48px;
}

.project {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.more-projects {
    text-align: center;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    color: rgba(0, 0, 0, 0.33);
    padding-bottom: 80px;
}

@media screen and (max-width: 600px) {
    .Banner {
        padding-bottom: 48px;
    }

    .pc-view-home {
        display: none;
    }
}