.header-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    background-color: white;
    padding-top: 27px;
    padding-bottom: 27px;
}

.signature {
    font-family: BlinkMacSystemFont;
    padding-left: 17vw;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 15vw;
    padding-right: 17vw;
}

.menu-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'liga' off;
}

.header-right {
    font-family: BlinkMacSystemFont;
}
