nav {
    display: flex;
    width: calc(100vw - 8em);
    position: fixed;
    top: 0;
    background-color: #ffffff;
    padding: 2em 4em;
    justify-content: space-between;
    transition: 0.4s;
}

.menu {
    width: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disabled {
    text-decoration: line-through;
}


.menu-text-padding-left {
    margin-left: 32px;
}

.header-right {
    font-family: BlinkMacSystemFont;
}

.menu-svg { display:none; }

.animateIn {
    transform: translateY(0px);
}
  
.animateOut {
    transform: translateY(-100%);
}

@media screen and (max-width: 800px) {
    .nav-bar {
        z-index: 4;
        transition: all 300ms ease-in-out;
        position: fixed;
        width: calc(100vw - 4em);
        padding: 1em 2em;
        display: flex;
        align-items: center;
        /* overflow-x: hidden; */
    }

    .menu{ display:none; }

    nav {
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .menu-svg {
        display: inline-flex;
        padding: 1em;
        border-radius: 100%;
        transition: 0.4s;
    }
    .menu-svg:hover {
        background-color: rgba(0,0,0,0.1);
        transition: 0.4s;
    }
}