nav {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: white;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-top: -10px;
}

.signature {
    font-family: BlinkMacSystemFont;
    padding-left: calc((100vw - 1110px)/2);
}

.menu {
    display: flex;
    padding-right: calc((100vw - 1110px)/2);
    padding-left: 650px;
}

.menu-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    font-feature-settings: 'liga' off;
}

.menu-text-padding-left {
    padding-left: 20px;
}

.header-right {
    font-family: BlinkMacSystemFont;
}

.menu-svg { display:none; }

@media screen and (min-width: 1200px) {
    .menu-text-padding-left {
        padding-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        z-index: 4;
        transition: all 300ms ease-in-out;
        position: fixed;
        width: 100%;
    }

    .menu{ display:none; }

    nav {
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .signature {
        font-family: BlinkMacSystemFont;
        padding-left: 16px;
    }

    .menu-svg { 
        display: inline;
        padding-right: 16px; 
    }

    .animateIn {
        transform: translateY(0px);
    }
      
    .animateOut {
        transform: translateY(-100%);
    }
}