.navbar {
    z-index: 4;
    width: calc(100vw - 8em);
    padding: 2em 4em;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}

.menu {
    width: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disabled {
    text-decoration: line-through;
}


.menu-text-padding-left {
    margin-left: 32px;
}

.header-right {
    font-family: BlinkMacSystemFont;
}

.menu-svg { display:none; }

.animateIn {
    transform: translateY(0px);
}
  
.animateOut {
    transform: translateY(-100%);
}

.sui-result__details li:nth-child(5) {
    display: none;
}

.sui-result__details li:nth-child(3) {
    display: none;
}

.sui-results-container {
    padding-top: 120px !important;
    padding-left: 150px !important;
    padding-right: 150px !important;
}

@media screen and (max-width: 800px) {
    .navbar {
        transition: all 300ms ease-in-out;
        position: fixed;
        width: calc(100vw - 3em);
        padding: 1em 1.5em;
        display: flex;
        align-items: center;
    }

    .menu{ display:none; }

    .navbar {
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .menu-svg {
        display: inline-flex;
        padding: 1em;
        border-radius: 100%;
        transition: 0.4s;
    }
    .menu-svg:hover {
        background-color: rgba(0,0,0,0.1);
        transition: 0.4s;
    }
}