.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    text-align: center;
    align-self: center;
    padding-top: 27px;
    padding-bottom: 27px;
}

.copyright, .footer-menu {
    align-self: flex-start;
}

.copyright {
    margin: auto;
    padding: 2em;
}

.footer-menu {
    padding-left: calc((100vw - 1110px)/2);
    display: flex;
    width: 15vw;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .pc-view-footer {
        display:none;
    }

    .footer-container {
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}