.App {
    width: 100vw;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.Header {
    height: 72px;
    width: 100vw;
}

.Banner {
    width: 100vw;
    overflow: hidden;
}

.Cards {
    overflow: hidden;
}