.exterior-images {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 64px;
    grid-template-columns: 540px 540px;
    grid-template-rows: 540px 380px;
    justify-content: center;
}

.exterior-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
}

.exterior-headline{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    /* identical to box height, or 135% */
    font-feature-settings: 'liga' off;
}

.exterior-context {
    padding-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    font-feature-settings: 'liga' off;
}

.exterior-get-started {
    padding-top: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    font-feature-settings: 'liga' off;

    color: #0000FF;
}

.exterior-image1 {
    background-image: url("../../images/hicool-exterior-img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
}

.exterior-image2 {
    background-image: url("../../images/hicool-exterior-img2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
}

.exterior-image3 {
    background-image: url("../../images/hicool-exterior-img3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
}
