.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/BG.jpg");
    background-repeat: no-repeat;
    height: 60vh;
    min-height: 400px;
    background-size: cover;
}

.centered-item {
    text-align: center;
    align-self: center;
}

.banner-container {
    width: 100vw;
}

.lower-container-text{

}

.title-container {
}

.subtitle-container {
    padding-top: 1em;   
}

.subtitle-discover-container {
    padding-top: 1em;    
}

.title-text {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    /* or 77px */

    text-align: center;
    font-feature-settings: 'liga' off;
}

.subtitle-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    text-align: center;
    font-feature-settings: 'liga' off;
}

.project-text {
    padding-bottom: 2vh;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: center;
    font-feature-settings: 'liga' off;
}

.feature-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    text-align: center;
    font-feature-settings: 'liga' off;
}

.lower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

