.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/BG.jpg");
    background-repeat: no-repeat;
    height: 60vh;
    min-height: 400px;
    background-size: cover;
}

.centered-item {
    text-align: center;
    align-self: center;
}

.banner-container {
    width: 100vw;
}

.lower-container-text{

}

.subtitle-container {
    padding-top: 16px;
    padding-bottom: 32px;
}

.title-container, .subtitle-container {
    display: flex;
    flex-direction: column;
}

.title-text {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    /* or 77px */

    text-align: center;
    font-feature-settings: 'liga' off;
}

.subtitle-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    text-align: center;
    font-feature-settings: 'liga' off;
}

.project-text {
    padding-bottom: 2vh;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: center;
    font-feature-settings: 'liga' off;
}

.feature-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    text-align: center;
    font-feature-settings: 'liga' off;
}

.about-us-button {
    /* position: absolute; */
    width: 282px;
    height: 46px;
    left: 20px;
    top: 20px;

    background: #000000;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    color: #FFFFFF;
}

.about-us-button:active {
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
}

.mobile-view-banner { display:none; }

@media screen and (max-width: 600px) {
    .hero-content {
        padding-bottom: 53px;
    }
    .title-container {
        margin-top: 100px;
    }
    .title-text {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        /* or 43px */

        text-align: center;
        text-transform: capitalize;
    }
    
    .subtitle-text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        /* or 26px */

        text-align: center;
    }
    
    .project-text {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 100%;
        /* or 38px */

        text-align: center;
        text-transform: capitalize;
        padding-bottom: 8px;
    }

    .lower-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lower-container-text {
       padding-top: 53px;
    }

    .feature-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
    }

    .pc-view-banner { display:none; }

    .mobile-view-banner { display: inline; }
}